<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Explorar - Alerta Verde</title>
  <link rel="icon" href="/logo1.png" type="image/png">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="login-container">
    <div class="logo-container">
      <img src="/logo1.png" alt="Alerta Verde Logo" class="logo">
      <h1>Explorar Denúncias</h1>
    </div>

    <div class="login-form">
      <button class="btn-minhas" onclick="location.href='/tela_acompanhamento'">Acompanhar Denúncias</button>
      <button class="btn-minhas" onclick="location.href='/perfil'">Meu Perfil</button>
      <button class="btn-minhas" onclick="location.href='/estatisticas'">Estatísticas</button>
      <button class="btn-minhas" onclick="location.href='/sobre'">Sobre</button>

    </div>
  </div>

  <footer>
    <p>&copy; 2025 Alerta Verde. Todos os direitos reservados.</p>
  </footer>
</body>
</html>

<style>
  body {
    background-color: #4453c3;
  }
</style>
