<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre - Alerta Verde</title>
  <link rel="icon" href="/logo1.png" type="image/png">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <a href="/explorar" class="voltar-topo">← Voltar para Explorar</a>
  <div class="login-container">
    <div class="logo-container">
      <img src="/logo1.png" alt="Logo Alerta Verde" class="logo">
      <h1>Sobre o Aplicativo</h1>
    </div>

    <div class="login-form">
      <p>Este aplicativo foi desenvolvido pela Alerta Verde para facilitar a denúncia de crimes ambientais como desmatamento, poluição e maus-tratos a animais.</p>
      <p>Nosso objetivo é conectar a população com órgãos responsáveis, promovendo a preservação do meio ambiente de forma rápida e acessível.</p>
      <p>Juntos, podemos fazer a diferença!</p>
      <button onclick="location.href='explorar'">Voltar</button>
    </div>
  </div>

  <footer>
    <p>&copy; 2025 Alerta Verde. Todos os direitos reservados.</p>
  </footer>
</body>
</html>

<style>
  body {
    background-color: #4453c3;
  }
</style>
